<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% block head %}
  {% endblock %}
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand">Stickerbounty!</a>
        {% if user %}
        <p class="navbar-text">Welcome, {{ user.username }}</p>
        <a class="nav-link btn btn-sm btn-secondary right" href="{{ url_for('auth.logout') }}">Sign Out</a>
        {% else %}
        <a class="nav-link btn btn-sm btn-primary right" href="{{ url_for('auth.login') }}/github">Sign In</a>
        {% endif %}
      </nav>
      {% block content%}{% endblock %}
    </div>
  </body>
</html>
