{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>Claim a bounty</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      {% for bounty in bounties %}
      <div class="row">
        {% if bounty.organization_id %}
        <h4>
          <i class="fas fa-th"></i>
          {{ bounty.kind|capitalize }} contribution to the
          <code>{{ bounty.organization_id }}</code>
          Organization ({{ bounty.quantity }} unclaimed)
        </h4>
        {% elif bounty.repository_id %}
        <h4>
          <i class="fas fa-square"></i>
          {{ bounty.kind|capitalize }} contribution to the
          <code>{{ bounty.repository_id }}</code>
          Repository ({{ bounty.quantity }} unclaimed)
        </h4>
        {% endif %}
        <a role="button" class="btn btn-primary" href="{{ url_for('claim_bounty', bounty_id=bounty.bounty_id) }}">Claim</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
