{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="row">
        {% if bounty.organization_id %}
        <h4>
          Bounty: <i class="fas fa-th"></i>
          {{ bounty.kind|capitalize }} contribution to the
          <code>{{ bounty.organization_id }}</code>
          Organization ({{ bounty.quantity }} unclaimed)
        </h4>
        {% elif bounty.repository_id %}
        <h4>
          Bounty: <i class="fas fa-square"></i>
          {{ bounty.kind|capitalize }} contribution to the
          <code>{{ bounty.repository_id }}</code>
          Repository ({{ bounty.quantity }} unclaimed)
        </h4>
        {% endif %}
      </div>
      <div class="row">
        {% if claim_valid %}
        <p class="alert alert-success">Your claim is valid!</p>
        <img src="https://ernest.ly/imgs/gifz/gifz/celebrate-{{ range(0, 3) | random }}.gif"/>
        {% else %}
        <p class="alert alert-warning">You haven't made a contribution that fulfills this bounty</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
