{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <div class="row justify-content-md-center">
      <h1>Choose a Project!</h1>
      </div>
      <div class="row justify-content-md-center">
      <p>Note: Only public repositories which are <i>not</i> forks are eligible.</p>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <p>Don't see your Organization's project? Request or grant access for that Organization <a href="https://github.com/settings/connections/applications/{{ client_id }}">here</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md">
    {% for project in projects %}
    <div class="row">
      <a role="button" class="btn btn-link" href="{{ url_for('give_project', organization=project.owner.login, project_name=project.name) }}">
        <code>{{ project.full_name }}</code>
        {%- if project.description %}: {{ project.description }}{% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
