{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>Setup a bounty</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <h2>Across an organization?</h2>
      <a role="button" class="btn btn-primary" href="{{ url_for('give_organizations') }}">Organization</a>
    </div>
    <div class="col-md">
      <h2>For a specific project?</h2>
      <a role="button" class="btn btn-primary" href="{{ url_for('give_projects') }}">Project</a>
    </div>
  </div>
</div>
{% endblock %}
