{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>Choose an organization!</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <p>Don't see your organization? Request or grant access <a href="https://github.com/settings/connections/applications/{{ client_id }}">here</a>.</p>
    </div>
  </div>
  <div class="col-md">
    {% for organization in organizations %}
    <div class="row">
      <a role="button" class="btn btn-link" href="{{ url_for('give_organization', organization=organization.login) }}">
        <code>{{ organization.login }}</code>
        {%- if organization.name %}: {{ organization.name }}{% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
