{% extends 'base.html' %}
{% from 'macros.html' import render_form %}
{% block content %}
    <div>
      <h1>Create a bounty for {{ organization }}/{{ project_name }}</h1>
    </div>
    <div class="project_form">
        {{ render_form(project_form, action_url=url_for('give_project', organization=organization, project_name=project_name), action_text='Submit!') }}
    </div>
{% endblock content %}
