{% extends 'base.html' %}
{% from 'macros.html' import render_form %}
{% block content %}
    <div>
      <h1>Create a bounty for {{ organization }} Organization</h1>
    </div>
    <div class="organization_form">
        {{ render_form(organization_form, action_url=url_for('give_organization', organization=organization), action_text='Submit!') }}
    </div>
{% endblock content %}
