{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>Welcome!</h1>
    </div>
  </div>
  <div class="row">
    {% if user %}
    <div class="col-md">
      <h2>Claim some stickers?</h2>
      <a role="button" class="btn btn-primary" href="{{ url_for('claim') }}">Hell yes!</a>
    </div>
    <div class="col-md">
      <h2>Give some stickers?</h2>
      <a role="button" class="btn btn-primary" href="{{ url_for('give') }}">Fuck yah!</a>
    </div>
    {% else %}
    <h2>Sign in to get started!</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
