{% extends "base.html" %}

{% block head %}
{% if next_url %}
<meta http-equiv="refresh" content="1;{{ next_url }}">
{% endif %}
{% endblock %}

{% block content %}
{% if user %}
<div class="container">
  <div class="row">
    <h1>Logged in as {{ user.username }}</h1>
  </div>
  {% if next_url %}
  <div class="row">
    <h4>Redirecting...</h4>
  </div>
  {% endif %}
</div>
{% else %}
<div class="container">
  <div class="row">
    <h1>Not Logged In!</h1>
  </div>
</div>
{% endif %}
{% endblock %}
