{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md">
      <p class="alert alert-warning">{{ message }}</p>
    </div>
  </div>
</div>
{% endblock %}
